<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= recipe.title %></title>
  </head>
  <body>
    <div class="container">
      <h1>HEllo</h1>
      <h1><%= recipe.title %></h1>
      <h2><%= recipe.difficulty %></h2>
      <ul><li><%= recipe.ingredients %> </li></ul>
      <p><%= recipe.content %></p>
    </div>
  </body>
</html>
